<%= form.inputs do %>
  <%= form.input :published, :as => :radio,
        :collection => [['Draft', false], ['Publish', true]],
        :wrapper_html => {
          :style => version.published? ? 'display: none' : ''
        } %>
  <% if version.published? %>
    <li class='published'>Published</li>
    <li class='explanation'><%= t 'blurb.published_html' %></li>
  <% elsif localization.published_content? %>
    <li class='explanation'><%= t 'blurb.draft_html' %></li>
  <% else %>
    <li class='explanation'><%= t 'blurb.first_draft_html' %></li>
  <% end %>

  <li class='published_version' style='display: none'>
    <pre><%= localization.published_content %></pre>
  </li>

  <%= form.input :content %>
<% end %>
